body {
  /*automatic styles*/
  background-color: blueviolet;
  padding: 0;
}
div#root {
  /*from render block*/
  display: grid;
  grid-template-columns: 1fr;

  grid-template-rows:
    minmax(50vh, auto)
    minmax(1vh, auto)
    minmax(auto, auto)
    minmax(50px, auto);

  grid-template-areas:
    "header"
    "navigation"
    "main"
    "footer";
}

header {
  /*header styles*/
  position: relative;

  grid-area: header;
  background-color: oldlace;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
header > div {
  background-color: oldlace;
  align-content: center;
  margin: auto;
}
header > div#logo {
  font-family: sans-serif;
}
header h1 {
  font-size: 5em;
}
nav {
  /*nav styles*/
  grid-area: navigation;
  background-color: skyblue;
}
nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  justify-content: space-evenly;
  font-weight: bold;
}

main {
  /*main styles*/
  grid-area: main;
  background-color: wheat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  min-height: 100vh;
}
div.stockItem {
  background-color: wheat;
  width: 24.6%;

  position: relative;
}
.stockItem > a {
  display: flex;
  flex-direction: column;
}
.stockItem figure {
  margin: 0;
  width: 100%;
  height: 100%;
}
.stockItem img {
  width: 100%;
}
.stockItem div.caption {
  width: 100%;
  bottom: 0;
  position: absolute;
  background-color: wheat;
  height: 154px;
}
.cartItem{
  display: grid;

  grid-template-columns:
  minmax(50vh, auto)
  minmax(1vh, auto)
  minmax(50px, auto);

  grid-template-areas:
  "name"
  "count"
  "price";
  background-color: aliceblue;
}
.cartItem :first-child{
  grid-area: name;
}
.cartItem :nth-child(2){
  grid-area: count;
}
.cartItem :last-child{
  grid-area: price;
}

footer {
  /*footer styles*/
  grid-area: footer;
  background-color: red;
}

@media screen and (max-width: 414px) {
  div.stockItem {
    width: 100vw;
    height: 50vw; /*This is to maintain aspect ratio of the div - intentional*/
  }
}

a {
  text-decoration: none;
}
