body{
    background-color: blueviolet;
}

div#root{
    display: grid;
    grid-template-columns: 1fr;

    grid-template-rows:
    minmax(1vh, auto)
    minmax(1vh, auto)
    minmax(auto, auto)
    minmax(50px, auto);

    grid-template-areas:
    "header"
    "navigation"
    "main"
    "footer";
}

header{
    grid-area: header;
    background-color:green;

    display: flex;
    flex-direction: row;
}
nav{
    grid-area: navigation;
    background-color: aqua;
}
main{
    grid-area: main;
    background-color:yellow;
}
footer{
    grid-area: footer;
    background-color:red;
}