body {
  /*automatic styles*/
  background-color: blueviolet;
  padding: 0;
}
div#root {
  /*from render block*/
  display: grid;
  grid-template-columns: 1fr;

  grid-template-rows:
    minmax(85px, auto)
    minmax(1vh, auto)
    minmax(auto, auto)
    minmax(50px, auto);

  grid-template-areas:
    "header"
    "navigation"
    "main"
    "footer";
}

header {
  /*header styles*/
  position: relative;

  grid-area: header;
  background-color: green;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
header > div {
  background-color: red;
}
header>div#logo{
  font-family: sans-serif;
}
header > div:last-child {
  position: absolute;
  right: 0;
}
header > div:last-child > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
}

nav {
  /*nav styles*/
  grid-area: navigation;
  background-color: aqua;
}
nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  justify-content: space-evenly;
}

main {
  /*main styles*/
  grid-area: main;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
}
div.stockItem {
  background-color: wheat;
  height: 250px;
  width: 500px;
  margin: 1%;
}
.stockItem > a {
  display: flex;
  flex-direction: row;
}
.stockItem figure{
  margin: 0;
  width: 50%;
}
.stockItem img {
  width: 100%;
}
.stockItem div {
  width: 50%;
}

footer {
  /*footer styles*/
  grid-area: footer;
  background-color: red;
}

@media screen and (max-width:414px){
  div.stockItem{
      width: 100vw;
      height: 50vw;/*This is to maintain aspect ratio of the div - intentional*/
  }
}
